body {
  padding-top: 56px;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: rgb(179, 0, 0);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: rgb(192, 0, 0);
  color: rgb(255, 2, 2);
}

.pagination a:hover:not(.active) {
  background-color: rgb(255, 0, 0);
}
.navbar {
  top: -60px;
}


.my-4{
  color: rgb(255, 0, 0);
}

/* Social Icons End */


#right-footer {
  float: right;
  text-align: right
}
#left-footer {
  float: left;
  text-align: left
}

