

@media only screen and (max-device-width: 1366px) {
    body {
        background-attachment: scroll;
    }
}

.navbar {
    top: -25px;
  }
  
  
  

#right-footer {
    float: right;
    text-align: right
  }
  #left-footer {
    float: left;
    text-align: left
  }
  body {
    background-color: lightgrey!important; /* For browsers that do not support gradients */
    background-image: linear-gradient(darkred, lightgrey)!important; /* Standard syntax (must be last) */
    background-repeat:no-repeat!important;
  }
  
  
