

@media only screen and (max-device-width: 1366px) {
    body {
        background-attachment: scroll;
    }
}

.navbar {
    top: -25px;
  }
  
  
  

#right-footer {
    float: right;
    text-align: right
  }
  #left-footer {
    float: left;
    text-align: left
  }
  
  
