body {

    background-image: url("https://www.desktopbackground.org/download/1280x900/2013/10/09/651679_18-best-photos-of-red-and-black-backgrounds-cool-backgrounds-red_1440x900_h.jpg");
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    body {
        background-attachment: scroll;
    }
}

.navbar {
    top: -25px;
  }
  
  
  

#right-footer {
    float: right;
    text-align: right
  }
  #left-footer {
    float: left;
    text-align: left
  }
  
  
