body {
  padding-top: 56px;
}
.social-icons a {
	display: inline-block;
	height: 3.5rem;
	width: 3.5rem;
	background-color: red;
	color: #fff!important;
	border-radius: 100%;
	text-align: center;
	font-size: 1.5rem;
	line-height: 3.5rem;
	margin-right: 1rem
}

.social-icons a:last-child {
	margin-right: 0
}

.social-icons a:hover {
	background-color: lightgrey
}

.dev-icons {
	font-size: 3rem
}

.dev-icons .list-inline-item i:hover {
	color: white;
}

#right-footer {
	float: right;
	text-align: right
  }
  #left-footer {
	float: left;
	text-align: left
  }

  body {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, black); /* Standard syntax (must be last) */
    background-repeat:no-repeat;
  }