body {
    background-color: lightgray !important; /* For browsers that do not support gradients */
    background-image: linear-gradient(darkred, lightgrey)!important; /* Standard syntax (must be last) */
    background-repeat:no-repeat!important;
  }