body {
    background-color: darkred !important; /* For browsers that do not support gradients */
    background-image: linear-gradient(lightgrey, darkred)!important; /* Standard syntax (must be last) */
    background-repeat:no-repeat!important;
  }